input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=Result] {
    width: 100%;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
   
  }
 
  body{
    background-image:url("https://cdn.pixabay.com/photo/2017/01/05/05/57/cake-1954054_960_720.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    font-size: 50%;
  }
#house{
  margin-left:200px;
}